.container, #index-card{

    margin-top: 100px;
    margin-left: 50px;
}
h1{
    font-family: "Tahoma", "Helvetica", sans-serif;
    font-size: 38px;
    color: rgb(74, 103, 123);
    margin-top: auto;
    margin-bottom: 100px;
    margin-left: 90px;
}
.container .link-list{
    background-color: rgba(196, 229, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    size: 50px;
    width: 300px;
}
li{
    margin-bottom:10px;
    margin-top:10px;
    block-size: 50px;
}